html,body {
  background-color:white;
  font-family: "Playfair Display";
  height: 100%;
  width: 100%;
  clear: both;
}
div.sidebar{
  left:0;
  top:0;
  bottom: 0;
  position: fixed;
  width: 25%;
  background-color: black;
}
div.main-content{
  left:25%;
  top:0;
  position: fixed;
  background-color: #A3E4D7 ;
  bottom: 0;
  width: 75%;
}
