html,body {
  background-color:lightblue;
  font-family: "Playfair Display";
  height: 100%;
  width: 100%;
  clear: both;
}
div{
  align-self: center;
  background-color: yellow;
  width: 70%;
  float :left;
}
div.sidebar{
  align-self: center;
  left:0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 30%;
  background-color: green;
}
div.main-content{
  left:30%;
  width: 70%;
  height: 100%;
  background-color: black;
}
p{
  background-color: lightgreen;
}
h1{
  background-color: orange;
}
button{
  background-color: purple;
  color:#fff;
  margin: 10px;
  position: relative;
  text-align: center;
  border-style: groove;
  border-top-color: inherit;
  padding: 2%;
  cursor:copy;
}
button:hover{
  background-color: green;
}
.primary-button{
  background-color: red;
}
